     .modal, .login-box {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal h2 {
    margin-top: 0;
    font-size: 22px;
}

.boton, .btn-login {
    display: inline-block;
    margin: 20px 0;
    padding: 12px 20px;
    background-color: #2642ab;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.boton:hover, .btn-login:hover {
    background-color: #2bf217;
}

.logos img {
    height: 40px;
    margin: 10px;
}

.login-box {
    z-index: 1000;
}

.login-box h3 {
    margin-bottom: 20px;
    color: #2642ab;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}
