      .main-interface {
    height: 100vh;
}

.topbar {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.content {
    padding: 20px;
    margin-left: 200px;
    background: url('../Imagenes1/logo4.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
}

